/* ESTILIZAÇÃO DE TODA A PÁGINA */
* {
    margin: 0;
    font-family: "inter";
}

/* ESTILIZAÇÃO MENU SUPERIOR */
#menuSuperior {
    background-color: #303030;
    color: white;
}

/* ESTILIZAÇÃO TÍTULO MENU SUPERIOR */
#tituloMenuSuperior {
    margin-left: 6.25rem;
    padding-top: 9.375rem;
    font-size: 2.5rem;
}

/* ESTILIZAÇÃO TEXTO MENU SUPERIOR */
#textoMenuSuperior {
    margin-left: 6.25rem;
    margin-top: 0.9375rem;
    padding-bottom: 6.25rem;
}

/* ESTILIZAÇÃO MENU INFORMACIONAL */
#menuInformacional {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-around;
    padding: 3.125rem;
}

/* ESTILIZAÇÃO DA SEÇÃO COM A IMAGEM */
#secaoImagem {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

/* ESTILIZAÇÃO DA MARGEM DE AMBOS TEXTOS DESCRITIVOS DA IMAGEM */
#secaoDescricaoImagem {
    margin-left: 12.5rem;
}

/* ESTILIZAÇÃO DA MARGEM DO TÍTULO DO TEXTO DA IMAGEM */
#tituloImagem {
    margin-top: 9.375rem;
}

/* ESTILIZAÇÃO DA MARGEM DO TEXTO DESCRITIVO DA IMAGEM */
#textoImagem {
    margin-top: 1.875rem;
}

/* ESTILIZAÇÃO DO TAMANHO DA IMAGEM */
#imagemSala {
    border-radius: 1.875rem;
    height: 25rem;
    margin: 1.875rem;
}

/* ESTILIZAÇÃO DO FORMULÁRIO */
#formulario {
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ESTILIZAÇÃO DO TÍTULO DO FORMULÁRIO */
#tituloFormulario {
    color: #ffffff;
    padding-top: 3.125rem;
    padding-bottom: 0.625rem;
}

/* ESTILIZAÇÃO DOS INPUTS NOME E EMAIL */
.campoPreenchimento {
    width: 21.875rem;
    height: 2.1875rem;
    border-radius: 0.625rem;
    display: flex;
    align-items: center;
    margin: 1.25rem;
    border: 0;
    padding-left: 1.25rem;
    margin: 2.5rem;
}

/* ESTILIZAÇÃO DO BOTÃO FALE CONOSCO */
#botaoFaleConosco {
    background-color: #C07212;
    width: 12.5rem;
    height: 2.5rem;
    border: 0;
    border-radius: 0.625rem;
    color: #FFFFFF;
    font-family: "raleway";
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 3.125rem;
    margin-left: 8.125rem;

}

#botaoFaleConosco:hover {
    background-color: #c0721259;
    color: #ffffff;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem #000000;

}

/* MEDIA QUERY PARA TELA MENOR QUE 768px */
@media screen and (max-width: 48em) {
    /* Estilização MENU SUPERIOR */
    #tituloMenuSuperior {
        margin-left: 1.25rem;
        padding-top: 3.125rem;
        text-align: center;
    }

    #textoMenuSuperior {
        margin-left: 1.25rem;
        margin-top: 0.9375rem;
        padding-bottom: 1.875rem;
        font-size: 1.875rem;
        text-align: center;
    }

    /* Estilização MENU INFORMACIONAL */
    #menuInformacional {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.25rem;
    }

    .textoInformativo {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        margin: 1.25rem;
    }

    /* Estilização DA SEÇÃO COM A IMAGEM */
    #secaoImagem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #tituloImagem {
        font-size: 1.875rem;
    }

    #textoImagem {
        font-size: 1.25rem;
    }

    #secaoDescricaoImagem {
        margin-left: 0;
        text-align: center;
    }

    /* Estilização DO TÍTULO DA IMAGEM */
    #tituloImagem {
        margin-top: 3.125rem;
    }

    /* Estilização DO TEXTO DA IMAGEM */
    #textoImagem {
        margin-top: 1.25rem;
    }

    /* Estilização DA IMAGEM */
    #imagemSala {
        height: 25rem;
        margin: 0.9375rem;
    }

    /* Estilização DO FORMULÁRIO */
    #formulario {
        padding: 1.25rem;
        align-items: center;
    }

    #tituloFormulario {
        font-size: 1.875rem;
    }

    #botaoFaleConosco {
        width: 16rem;
        margin-top: 1.25rem;
    }

    /* Ajustando os campos de preenchimento */
    .campoPreenchimento {
        margin-right: 6.25rem;
    }
}